[Unit]
Description=TokuMX (MongoDB)
After=syslog.target network.target

[Service]
Type=simple
User=tokumx
Restart=always
PIDFile=/var/run/tokumx/tokumx.pid
ExecStart=/usr/bin/mongod --quiet --config /etc/tokumx.conf
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
