[Unit]
Description=ZooKeeper Server
After=network.target

[Service]
ExecStart=/bin/bash /usr/local/kafka/bin/zookeeper-server-start.sh /usr/local/kafka/config/zookeeper.properties
ExecStop=/bin/kill -SIGINT $MAINPID
TimeoutSec=10

[Install]
WantedBy=multi-user.target
